:root{
	--sidebar-width: 30vw;
}

html.LightMode {
	--main-color: #203059;
	--header-color: #e3e5ea;
	--sidebar-color: rgba(227, 229, 234, 0.8);
	--border-color: #222;
	--text-color: #203059;
	--section-text-color: #e3e5ea;
	--scrollbar-color: var(--header-color);
}

html.NightMode {
	--main-color: #22272e;
	--header-color: #161b22;
	--sidebar-color: rgba(22, 27, 34, 0.9);
	--border-color: #545c65;
	--text-color: #f2f2f2;
	--section-text-color: var(--text-color);
	--scrollbar-color: var(--text-color);
}

@media (prefers-color-scheme: light) {
	html.AutoMode {
		--main-color: #203059;
		--header-color: #e3e5ea;
		--sidebar-color: rgba(227, 229, 234, 0.8);
		--border-color: #222;
		--text-color: #203059;
		--section-text-color: #e3e5ea;
		--scrollbar-color: var(--header-color);
	}
}

@media (prefers-color-scheme: dark) {
	html.AutoMode {
		--main-color: #22272e;
		--header-color: #161b22;
		--sidebar-color: rgba(22, 27, 34, 0.9);
		--border-color: #545c65;
		--text-color: #f2f2f2;
		--section-text-color: var(--text-color);
		--scrollbar-color: var(--text-color);
	}
}

::-webkit-scrollbar {
	width: 5px;
	border-radius: 5px;
}
::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background-color: var(--scrollbar-color) ;
}

*,
body,
*:after,
*:before {
	padding: 0;
	margin: 0;
	-webkit-tap-highlight-color: #00000000;
}

html,
body {
	margin: 0;
	padding: 0;
	width: 100%;
	overflow: hidden;
	user-select: none;
	font-family: 'Nunito', sans-serif;
}

body {
	margin: 0;
	padding: 0;
	background-color: var(--main-color);
	height: 100vh;
	transition: .2s ease-out;
}

button {
	cursor: pointer;
	user-select: none;
	background-color: rgba(0, 0, 0, 0);
	border: none;
	display: flex;
}

button:active {
	transform: scale(0.9);
}

svg, svg path {
	width: 100%;
	height: 100%;
}

/*---------- header ----------*/

header {
	width: 100%;
	height: 60px;
	background-color: var(--header-color);
	border-bottom: 2px solid var(--text-color);
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: var(--text-color);
	box-shadow: 0 -12px 25px black;
	transition: .2s ease-out;
}

header button, .sidebar button {
	width: 50px;
	height: 50px;
	color: var(--text-color);
}

header button {
	margin-left: 7px;
	padding: 2;
}

/*---------- sidebar ----------*/

.sidebar {
	height: calc(100% - 61px);
	width: var(--sidebar-width);
	backdrop-filter: blur(10px);
	background-color: var(--sidebar-color);
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	color: var(--text-color);
	box-shadow: -10px 20px 20px black;
	transition: .2s ease-out;
	z-index: 1;
}

.sidebar h1{
	text-align: center;
}

.sidebar.open {
	transform: translateX(var(--sidebar-width));
}

.sidebar.close {
	transform: translateX(0);
}

.sidebarShadow {
	width: 100%;
	height: 100%;
	position: absolute;
}

.sidebarShadow.open {
	display: block;
}

.sidebarShadow.close {
	display: none;
}

/*---------- saved notes ----------*/

.SavedNotes {
	width: calc(100% - 50px);
	padding: 10px 25px;
}

.SavedNotes .item {
	font-style: italic;
	cursor: pointer;
	transition: .2s;
	padding: 4px 0 4px 10px;
	border-radius: 5px;
	margin-top: 4px;
	display: flex;
	gap: 5px;
}

.SavedNotes .item:hover {
	margin-left: 10px;
}

.SavedNotes .item.selected:hover {
	margin-left: 0;
}

.SavedNotes .item.selected {
	border: 2px solid var(--text-color);
}

/*---------- theme selector ----------*/

.ThemeSelector {
	width: 100%;
	height: 50px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 15px 0;
}

.ThemeSelector button {
	padding: 7px;
	border-radius: 10px;
	border: 2px solid rgba(0, 0, 0, 0);
	display: flex;
	justify-content: center;
	align-items: center;
}

.ThemeSelector button:hover svg {
	transform: scale(1.05);
}

.ThemeSelector button.selected:hover svg {
	transform: none;
}

.ThemeSelector .selected {
	border: 2px solid var(--text-color);
}

.ThemeSelector .selected:active {
	transform: scale(1);
}

/*---------- section ----------*/

section {
	height: calc(100vh - 1px - 60px - 60px);
	overflow-y: scroll !important;
	color: var(--section-text-color);
	font-style: italic;
}

.note {
	width: calc(100% - 50px);
	margin: 5px 25px 20px 25px;
}

.note label {
	display: flex;
	align-items: start;
	justify-content: start;
	width: 100%;
	gap: 10px;
	cursor: pointer;

}

.note h1 {
	text-align: center;
	font-size: 1.6rem;
}

.note h2 {
	font-size: 1.1rem;
	word-wrap: break-word;
	max-width: calc(100% - 30px);
}

.note input {
	height: 20px;
	width: 20px;
	margin-top: 1px;
	transition: none;
	cursor: pointer;
}

.note .item {
	display: flex;
	gap: 10px;
}

.note .item button {
	height: 25px;
	width: 25px;
}

.note .item:nth-child(n + 2) {
	margin-top: 10px;
}

/*---------- footer ----------*/

footer {
	width: 100%;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

footer textarea {
	width: 60%;
	height: 26px;
	resize: none;
	background-color: var(--section-text-color);
	border-radius: 20px;
	padding: 7px 20px;
	font-size: 1.2rem;
	font-family: 'Nunito', sans-serif;
	font-weight: bold;
	overflow-y: hidden;
	outline: none;
	margin-left: 10px;
}

footer svg {
	color: var(--section-text-color);
	height: 40px;
	width: 40px;
	margin-right: 10px;
}

/*---------- adaptation ----------*/

@media (max-width: 1200px) {
	:root {
		--sidebar-width: 40vw;
	}
}

@media (max-width: 800px) {
	:root {
		--sidebar-width: 60vw;
	}
	footer textarea {
		width: 100%;
	}
}

@media (max-width: 500px) {
   section {
      height: calc(100vh - 1px - 60px 60px - 56px);
   }
   
   html {
      height: calc(100vh - 56px);
   }

   body {
   	height: calc(100vh - 56px);
   }

   section {
   	height: calc(100vh - 1px - 60px - 60px - 56px);
   }

   .SavedNotes .item:hover {
		transform: none !important;
	}
}

@media (max-width: 360px) {
	:root {
		--sidebar-width: 80vw;
	}
}