:root {
	--main: #22272e;
	--header: #161b22;
	--border: #545c65;
	--theme-filter: invert(0.95);
}

*,
*:after,
*:before {
	padding: 0;
	margin: 0;
	-webkit-tap-highlight-color: #00000000;
}

html,
body {
	margin: 0;
	padding: 0;
	width: 100%;
	overflow-x: hidden
}

button {
	cursor: pointer;
	user-select: none;
	background-color: rgba(0, 0, 0, 0);
	border: none;
	display: flex;

}

button:active{
	transform: scale(0.9);
}

body {
	margin: 0;
	padding: 0;
	background-color: var(--main);
	font-family: 'Quicksand', sans-serif;
}

.header {
	width: 100%;
	height: 60px;
	background-color: var(--header);
	border-bottom: 1px solid var(--border);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.main-logo {
	filter: var(--theme-filter);
}

.menu-icon, .cloud-icon {
	height: 50px;
	margin: 0 5px;
	filter: var(--theme-filter);
}

.sidebar{
	height: calc(100% - 61px);
	width: 50vw;
	background-color: white;
	position: absolute;
}












.current-note {
	width: 100%;
}