:root {
	--main: #22272e;
	--header: #161b22;
	--border: #545c65;
	--theme-filter: invert(0.95);
	--sidebar-width: 30vw;
	--text-color: #f2f2f2;
}

::-webkit-scrollbar {
	width: 5px;
	border-radius: 5px;
}
::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background-color: white;
}

*,
*:after,
*:before {
	padding: 0;
	margin: 0;
	-webkit-tap-highlight-color: #00000000;
}

html,
body {
	margin: 0;
	padding: 0;
	width: 100%;
	overflow: hidden;
}

button {
	cursor: pointer;
	user-select: none;
	background-color: rgba(0, 0, 0, 0);
	border: none;
	display: flex;
}

button:active {
	transform: scale(0.9);
}

body {
	margin: 0;
	padding: 0;
	background-color: var(--main);
	font-family: 'Quicksand', sans-serif;
	color: var(--text-color);
	height: 100vh;
}

/*---------- header ----------*/

header {
	width: 100%;
	height: 60px;
	background-color: var(--header);
	border-bottom: 1px solid var(--border);
	display: flex;
	justify-content: space-between;
	align-items: center;
	user-select: none;
}

.menu-icon, .cloud-icon {
	height: 50px;
	filter: var(--theme-filter);
}

.menu-icon {
	margin: 0 7px;
}

.cloud-icon {
	margin: 0 13px;
}

/*---------- sidebar ----------*/

.sidebar {
	height: calc(100% - 61px);
	width: var(--sidebar-width);
	background-color: var(--header);
	position: absolute;
	text-align: center;
}

.sidebar h2 {
	margin-top: 10px;
}

.sidebar.open {
	transition: 0.2s ease-out;
	transform: translateX(var(--sidebar-width));
}

.sidebar.close {
	transition: 0.2s ease-out;
	transform: translateX(0);
}

/*---------- section ----------*/

section {
	height: calc(100vh - 61px);
	overflow-y: scroll !important;
}

.test{
	height: 1000px;
}

/*---------- adaptation ----------*/

@media (max-width: 1200px) {
	:root {
	--sidebar-width: 40vw;
	}
}

@media (max-width: 800px) {
	:root {
	--sidebar-width: 60vw;
	}
}

@media (max-width: 440px) {
	:root {
	--sidebar-width: 80vw;
	}
}

@media (max-width: 500px) {
   section {
      height: calc(100vh - 61px - 56px);
   }
   
   body {
      height: calc(100vh - 56px);
   }
}